# Class 15 Assignment 


## Here's a table:

| customer_id | cust_name | city | grade | salesman_id |
| ----------- | --------- | ---- | ----- | ----------- |
| 3002 | Nick Rimando | New York | 100 | 5001 |
| 3007 | Brad Davis | New York | 200 | 5001 |
| 3005 | Graham Zusi | California | 200 | 5002 |

| ------------------------------------------- |

| salesman_id | name | city | commission |
| ----------- | ---- | ---- | ---------- |
| 50001 | James Hoog | New York | 0.15 |
| 50002 | Nail Knite | Paris | 0.13|


## Two questions:

 1) From the following tables write a SQL query to find those customers with a grade less than 300. Return cust_name, customer city, grade, Salesman, salesmancity. The result should be ordered by ascending customer_id. 

2) write a SQL query to locate those salespeople who do not live in the same city where their customers live and have received a commission of more than 12% from the company.


## Basically...

1) Find Customers with **grade less than 300**. 
    - Return: customer name, customer city, customer grade
    - Return: Salesman, Salesman City
    - Ascending Customer_Id

2) Find salespeople who **don't live in the same city** as customer
    - more than 12% of commission 


## Let's build our two tables with a link to (salesman_id) foreign key

```sql

-- Using our main database
USE brilliant_infotech;

-- Creating our Salesman table (parent table)
CREATE TABLE salesman_3(
    salesman_id INT PRIMARY KEY AUTO_INCREMENT,
    sal_name VARCHAR(50),
    city VARCHAR(50),
    commission FLOAT
);

-- Creating our Customer table (child table)
CREATE TABLE customer_3(
    customer_id INT PRIMARY KEY AUTO_INCREMENT,
    cust_name VARCHAR(50),
    city VARCHAR(50),
    grade INT,
    -- Foreign Key assignment to salesman_3 parent table
    sal_id INT,
    FOREIGN KEY(sal_id)
    REFERENCES salesman_3(salesman_id)
);

-- Insert testing data 
INSERT INTO salesman3(salesman_name, city, commission)
VALUES ('James Hoog', 'New York', 0.15), ('Nail Knite', 'Paris', 0.13);

INSERT INTO customer(cust_name, city, grade, sal_id)
VALUES ('Nick Rimando', 'New York', 100, 1), ('Brad Davis', 'New York', 200, 1), ('Graham Zusi', 'Cali', 200, 2);


```

In [ ]:
-- Find Customers with Grade less than 300
-- Return customer name, city and grade 
-- Return salesman, salesman city 
-- Ascend customer id 

-- Right Join (Customer) then see what grade is less than 300 
SELECT customer_id, cust_name, customer_3.city, grade, sal_name, salesman_3.city
FROM salesman_3
RIGHT JOIN customer_3
ON salesman_3.salesman_id = customer_3.sal_id
WHERE grade > 300
ORDER BY customer_id ASC;

In [ ]:
-- Salespeople who don't live in the same city as customer 
-- more than 12%

-- LEFT join (Salesman) we're mainly looking at the salespeople
SELECT sal_name, salesman_3.city AS "Salesman City", commission, cust_name, customer_3.city AS "Customer City"
FROM salesman_3 
AND commission > 0.12
LEFT JOIN customer_3
ON salesman_3.salesman_id = customer_3.sal_id
WHERE salesman_3.city <> customer_3.city;

-- If we're just looking at the count
SELECT sal_name, count(*) as "Number of Customers"
FROM salesman_3 
AND commission > 0.12
LEFT JOIN customer_3
ON salesman_3.salesman_id = customer_3.sal_id
WHERE salesman_3.city <> customer_3.city
GROUP BY sal_name;